!> \file {{ process_name }}Common_Mod.F90
!! \brief Common utilities for {{ process_name }} process
!! \ingroup {{ process_name_lower }}_modules
!!
!! \author {{ author }}
!! \date {{ year }}
!! \version 1.0
!!
!! This module provides common utility functions for the {{ process_name }} process.
!! It contains pure computational routines that are independent of state management.
!!
module {{ process_name }}Common_Mod
   use precision_mod
   use error_mod

   implicit none
   private

   ! Public constants
   public :: {{ process_name_upper }}_VERSION
   public :: {{ process_name_upper }}_NAME

   ! Public utility functions
{% if process_type == 'emission' %}
   public :: calculate_wind_threshold
   public :: calculate_saltation_flux
   public :: apply_size_distribution
{% elif process_type == 'multiphase_chemistry' %}
   public :: calculate_reaction_rates
   public :: apply_temperature_correction
   public :: check_species_bounds
{% elif process_type == 'aqueous_chemistry' %}
   public :: calculate_henry_constant
   public :: calculate_activity_coefficient
   public :: partition_gas_liquid
{% elif process_type == 'heterogeneous_chemistry' %}
   public :: calculate_uptake_coefficient
   public :: calculate_surface_area
   public :: apply_sticking_probability
{% endif %}

   ! Module constants
   real(fp), parameter :: {{ process_name_upper }}_VERSION = 1.0_fp
   character(len=*), parameter :: {{ process_name_upper }}_NAME = '{{ process_name }}'

{% if has_multiphase %}
   ! Physical constants for multiphase processes
   real(fp), parameter :: R_GAS = 8.314_fp     !< Gas constant [J/mol/K]
   real(fp), parameter :: T_REF = 298.15_fp    !< Reference temperature [K]
   real(fp), parameter :: P_REF = 101325.0_fp  !< Reference pressure [Pa]
{% endif %}

contains

{% if process_type == 'emission' %}
   !> \brief Calculate wind threshold velocity
   !! \param[in] particle_diameter Particle diameter [μm]
   !! \param[in] particle_density Particle density [kg/m³]
   !! \param[in] air_density Air density [kg/m³]
   !! \return Threshold velocity [m/s]
   pure function calculate_wind_threshold(particle_diameter, particle_density, air_density) result(u_threshold)
      real(fp), intent(in) :: particle_diameter, particle_density, air_density
      real(fp) :: u_threshold

      ! Simple threshold calculation - would implement proper formulation
      u_threshold = 0.2_fp * sqrt(particle_diameter * 1.0e-6_fp)
   end function calculate_wind_threshold

   !> \brief Calculate saltation flux
   !! \param[in] wind_speed Wind speed [m/s]
   !! \param[in] threshold_speed Threshold wind speed [m/s]
   !! \return Saltation flux [kg/m²/s]
   pure function calculate_saltation_flux(wind_speed, threshold_speed) result(flux)
      real(fp), intent(in) :: wind_speed, threshold_speed
      real(fp) :: flux

      if (wind_speed > threshold_speed) then
         flux = (wind_speed - threshold_speed)**3
      else
         flux = 0.0_fp
      end if
   end function calculate_saltation_flux

   !> \brief Apply size distribution to total flux
   !! \param[in] total_flux Total emission flux [kg/m²/s]
   !! \param[in] size_fractions Size distribution fractions [dimensionless]
   !! \param[out] size_fluxes Flux per size bin [kg/m²/s]
   pure subroutine apply_size_distribution(total_flux, size_fractions, size_fluxes)
      real(fp), intent(in) :: total_flux
      real(fp), intent(in) :: size_fractions(:)
      real(fp), intent(out) :: size_fluxes(:)

      integer :: i

      do i = 1, size(size_fractions)
         size_fluxes(i) = total_flux * size_fractions(i)
      end do
   end subroutine apply_size_distribution

{% elif process_type == 'multiphase_chemistry' %}
   !> \brief Calculate temperature-dependent reaction rates
   !! \param[in] rate_298 Rate constant at 298K [varies by reaction]
   !! \param[in] activation_energy Activation energy [J/mol]
   !! \param[in] temperature Temperature [K]
   !! \return Temperature-corrected rate constant
   pure function calculate_reaction_rates(rate_298, activation_energy, temperature) result(rate)
      real(fp), intent(in) :: rate_298, activation_energy, temperature
      real(fp) :: rate

      ! Arrhenius equation
      rate = rate_298 * exp(-activation_energy / R_GAS * (1.0_fp/temperature - 1.0_fp/T_REF))
   end function calculate_reaction_rates

   !> \brief Apply temperature correction to rates
   !! \param[inout] rates Array of reaction rates
   !! \param[in] temperature Temperature [K]
   pure subroutine apply_temperature_correction(rates, temperature)
      real(fp), intent(inout) :: rates(:)
      real(fp), intent(in) :: temperature

      real(fp) :: temp_factor
      integer :: i

      temp_factor = T_REF / temperature

      do i = 1, size(rates)
         rates(i) = rates(i) * temp_factor
      end do
   end subroutine apply_temperature_correction

   !> \brief Check species concentration bounds
   !! \param[inout] concentrations Species concentrations
   !! \param[in] min_conc Minimum allowed concentration
   pure subroutine check_species_bounds(concentrations, min_conc)
      real(fp), intent(inout) :: concentrations(:)
      real(fp), intent(in) :: min_conc

      integer :: i

      do i = 1, size(concentrations)
         concentrations(i) = max(concentrations(i), min_conc)
      end do
   end subroutine check_species_bounds

{% elif process_type == 'aqueous_chemistry' %}
   !> \brief Calculate Henry's law constant
   !! \param[in] henry_298 Henry constant at 298K [M/atm]
   !! \param[in] d_sol_h Enthalpy of dissolution [J/mol]
   !! \param[in] temperature Temperature [K]
   !! \return Temperature-dependent Henry constant [M/atm]
   pure function calculate_henry_constant(henry_298, d_sol_h, temperature) result(henry)
      real(fp), intent(in) :: henry_298, d_sol_h, temperature
      real(fp) :: henry

      henry = henry_298 * exp(d_sol_h / R_GAS * (1.0_fp/temperature - 1.0_fp/T_REF))
   end function calculate_henry_constant

   !> \brief Calculate activity coefficient (placeholder)
   !! \param[in] ionic_strength Ionic strength [mol/L]
   !! \param[in] charge Ion charge
   !! \return Activity coefficient [dimensionless]
   pure function calculate_activity_coefficient(ionic_strength, charge) result(gamma)
      real(fp), intent(in) :: ionic_strength
      integer, intent(in) :: charge
      real(fp) :: gamma

      ! Placeholder - would implement Debye-Hückel or other model
      gamma = 1.0_fp
   end function calculate_activity_coefficient

   !> \brief Partition species between gas and liquid phases
   !! \param[in] total_conc Total concentration
   !! \param[in] henry_const Henry's law constant
   !! \param[in] liquid_water_content Liquid water content [m³/m³]
   !! \param[out] gas_conc Gas-phase concentration
   !! \param[out] liquid_conc Liquid-phase concentration
   pure subroutine partition_gas_liquid(total_conc, henry_const, liquid_water_content, &
                                       gas_conc, liquid_conc)
      real(fp), intent(in) :: total_conc, henry_const, liquid_water_content
      real(fp), intent(out) :: gas_conc, liquid_conc

      real(fp) :: partition_coeff

      partition_coeff = henry_const * liquid_water_content

      gas_conc = total_conc / (1.0_fp + partition_coeff)
      liquid_conc = total_conc * partition_coeff / (1.0_fp + partition_coeff)
   end subroutine partition_gas_liquid

{% elif process_type == 'heterogeneous_chemistry' %}
   !> \brief Calculate uptake coefficient
   !! \param[in] sticking_prob Sticking probability [dimensionless]
   !! \param[in] surface_area Aerosol surface area [m²/m³]
   !! \param[in] mean_speed Mean molecular speed [m/s]
   !! \return Uptake coefficient [s⁻¹]
   pure function calculate_uptake_coefficient(sticking_prob, surface_area, mean_speed) result(uptake)
      real(fp), intent(in) :: sticking_prob, surface_area, mean_speed
      real(fp) :: uptake

      uptake = 0.25_fp * sticking_prob * surface_area * mean_speed
   end function calculate_uptake_coefficient

   !> \brief Calculate aerosol surface area
   !! \param[in] number_conc Number concentration [#/m³]
   !! \param[in] mean_diameter Mean diameter [m]
   !! \return Surface area [m²/m³]
   pure function calculate_surface_area(number_conc, mean_diameter) result(surface_area)
      real(fp), intent(in) :: number_conc, mean_diameter
      real(fp) :: surface_area

      real(fp), parameter :: PI = 3.141592653589793_fp

      surface_area = PI * mean_diameter**2 * number_conc
   end function calculate_surface_area

   !> \brief Apply sticking probability correction
   !! \param[inout] uptake_coeffs Array of uptake coefficients
   !! \param[in] temperature Temperature [K]
   pure subroutine apply_sticking_probability(uptake_coeffs, temperature)
      real(fp), intent(inout) :: uptake_coeffs(:)
      real(fp), intent(in) :: temperature

      real(fp) :: temp_factor
      integer :: i

      ! Simple temperature dependence - would use actual formulations
      temp_factor = T_REF / temperature

      do i = 1, size(uptake_coeffs)
         uptake_coeffs(i) = uptake_coeffs(i) * temp_factor
      end do
   end subroutine apply_sticking_probability
{% endif %}

end module {{ process_name }}Common_Mod
